In [1]:
import pandas as pd
import numpy as np
import glob

In [ ]:
# 2015-2021 통일된 헤더를 갖기 위해서 column_name을 새로 지정해줌

In [2]:
path = r'./CSV/2021'
filenames = glob.glob(path + "/*.csv")
dfs = []
column_name = ['일자','요일','지점명','지점번호','구분','방향',
               '0시','1시','2시','3시','4시','5시','6시','7시',
               '8시','9시','10시','11시','12시','13시','14시',
               '15시','16시','17시','18시','19시','20시','21시',
               '22시','23시']

In [ ]:
# 전처리과정을 돌리는 for loop : 
#해당 폴더 안의 모든 csv파일을 가져오고, column_name을 위에 지정한대로 받은 후, 
# 원래 있던 헤더를 없애고, 결측값이 들어 있는 모든 행을 삭제, 후에 한 데이터 프레임 안에 모은다.

In [3]:
for filename in filenames:
    df = pd.read_csv(filename, 
                     header = None, thousands = ',')
    
    df.columns = column_name
    df = df.drop([0])
    df = df.dropna(axis=0)
    dfs.append(df)

In [4]:
all_tables = pd.concat(dfs, axis = 0, ignore_index = True)

In [ ]:
# 파일 중에 천의 자릿수 (,)로 구분되어 있는 파일들이 있기 때문에 콤마(,)를 제거해준다.

In [5]:
all_tables['0시'] = all_tables['0시'].str.replace(',','')
all_tables['1시'] = all_tables['1시'].str.replace(',','')
all_tables['2시'] = all_tables['2시'].str.replace(',','')
all_tables['3시'] = all_tables['3시'].str.replace(',','')
all_tables['4시'] = all_tables['4시'].str.replace(',','')
all_tables['5시'] = all_tables['5시'].str.replace(',','')
all_tables['6시'] = all_tables['6시'].str.replace(',','')
all_tables['7시'] = all_tables['7시'].str.replace(',','')
all_tables['8시'] = all_tables['8시'].str.replace(',','')
all_tables['9시'] = all_tables['9시'].str.replace(',','')
all_tables['10시'] = all_tables['10시'].str.replace(',','')
all_tables['11시'] = all_tables['11시'].str.replace(',','')
all_tables['12시'] = all_tables['12시'].str.replace(',','')
all_tables['13시'] = all_tables['13시'].str.replace(',','')
all_tables['14시'] = all_tables['14시'].str.replace(',','')
all_tables['15시'] = all_tables['15시'].str.replace(',','')
all_tables['16시'] = all_tables['16시'].str.replace(',','')
all_tables['17시'] = all_tables['17시'].str.replace(',','')
all_tables['18시'] = all_tables['18시'].str.replace(',','')
all_tables['19시'] = all_tables['19시'].str.replace(',','')
all_tables['20시'] = all_tables['20시'].str.replace(',','')
all_tables['21시'] = all_tables['21시'].str.replace(',','')
all_tables['22시'] = all_tables['22시'].str.replace(',','')
all_tables['23시'] = all_tables['23시'].str.replace(',','')

In [ ]:
# 원래 파일에 숫자가 string 으로 되어있는 경우가 있어서 float으로 변환해준 후 int로 다시 넘겨준다.

In [6]:
all_tables['0시'] = all_tables['0시'].astype(float).astype(int)
all_tables['1시'] = all_tables['1시'].astype(float).astype(int)
all_tables['2시'] = all_tables['2시'].astype(float).astype(int)
all_tables['3시'] = all_tables['3시'].astype(float).astype(int)
all_tables['4시'] = all_tables['4시'].astype(float).astype(int)
all_tables['5시'] = all_tables['5시'].astype(float).astype(int)
all_tables['6시'] = all_tables['6시'].astype(float).astype(int)
all_tables['7시'] = all_tables['7시'].astype(float).astype(int)
all_tables['8시'] = all_tables['8시'].astype(float).astype(int)
all_tables['9시'] = all_tables['9시'].astype(float).astype(int)
all_tables['10시'] = all_tables['10시'].astype(float).astype(int)
all_tables['11시'] = all_tables['11시'].astype(float).astype(int)
all_tables['12시'] = all_tables['12시'].astype(float).astype(int)
all_tables['13시'] = all_tables['13시'].astype(float).astype(int)
all_tables['14시'] = all_tables['14시'].astype(float).astype(int)
all_tables['15시'] = all_tables['15시'].astype(float).astype(int)
all_tables['16시'] = all_tables['16시'].astype(float).astype(int)
all_tables['17시'] = all_tables['17시'].astype(float).astype(int)
all_tables['18시'] = all_tables['18시'].astype(float).astype(int)
all_tables['19시'] = all_tables['19시'].astype(float).astype(int)
all_tables['20시'] = all_tables['20시'].astype(float).astype(int)
all_tables['21시'] = all_tables['21시'].astype(float).astype(int)
all_tables['22시'] = all_tables['22시'].astype(float).astype(int)
all_tables['23시'] = all_tables['23시'].astype(float).astype(int)

In [ ]:
# 한시간 단위의 측정은 너무 자세하고 다루기 까다롭기 때문에, 3시간 단위로 묶어 time1~8까지로 나누었다.

In [7]:
time1 = ['0시','1시','2시']
time2 = ['3시','4시','5시']
time3 = ['6시','7시','8시']
time4 = ['9시','10시','11시']
time5 = ['12시','13시','14시']
time6 = ['15시','16시','17시']
time7 = ['18시','19시','20시']
time8 = ['21시','22시','23시']
time_total = ['0시','1시','2시', '3시','4시','5시', 
              '6시','7시','8시', '9시','10시','11시', 
             '12시','13시','14시', '15시','16시','17시',
             '18시','19시','20시', '21시','22시','23시']

In [ ]:
# 각 타임 별, 각 날짜에 따른 합계를 구한다.

In [8]:
all_tables['time_1'] = all_tables[time1].sum(axis = 1)
all_tables['time_2'] = all_tables[time2].sum(axis = 1)
all_tables['time_3'] = all_tables[time3].sum(axis = 1)
all_tables['time_4'] = all_tables[time4].sum(axis = 1)
all_tables['time_5'] = all_tables[time5].sum(axis = 1)
all_tables['time_6'] = all_tables[time6].sum(axis = 1)
all_tables['time_7'] = all_tables[time7].sum(axis = 1)
all_tables['time_8'] = all_tables[time8].sum(axis = 1)

In [ ]:
# 각 날짜 별 총 합을 구한다.

In [9]:
all_tables['total_day'] = all_tables[time_total].sum(axis = 1)

all_tables.head()

In [ ]:
# csv파일로 저장.

In [11]:
all_tables.to_csv('./CSV/2021_total.csv')