In [1]:
import pandas as pd
import numpy as np

In [2]:
column_name = ['일자','요일','지점명','지점번호','구분','방향','0시','1시','2시','3시',
               '4시','5시','6시','7시','8시','9시','10시','11시','12시','13시','14시',
               '15시','16시','17시','18시','19시','20시','21시','22시','23시']

In [3]:
df = pd.read_csv('./CSV/2018/2018_5월_서울시_교통량_조사자료.csv', header = None, thousands = ',')
df.columns = column_name
df = df.drop([0])
df = df.dropna(axis=0)

In [4]:
df['0시'] = df['0시'].str.replace(',','')
df['1시'] = df['1시'].str.replace(',','')
df['2시'] = df['2시'].str.replace(',','')
df['3시'] = df['3시'].str.replace(',','')
df['4시'] = df['4시'].str.replace(',','')
df['5시'] = df['5시'].str.replace(',','')
df['6시'] = df['6시'].str.replace(',','')
df['7시'] = df['7시'].str.replace(',','')
df['8시'] = df['8시'].str.replace(',','')
df['9시'] = df['9시'].str.replace(',','')
df['10시'] = df['10시'].str.replace(',','')
df['11시'] = df['11시'].str.replace(',','')
df['12시'] = df['12시'].str.replace(',','')
df['13시'] = df['13시'].str.replace(',','')
df['14시'] = df['14시'].str.replace(',','')
df['15시'] = df['15시'].str.replace(',','')
df['16시'] = df['16시'].str.replace(',','')
df['17시'] = df['17시'].str.replace(',','')
df['18시'] = df['18시'].str.replace(',','')
df['19시'] = df['19시'].str.replace(',','')
df['20시'] = df['20시'].str.replace(',','')
df['21시'] = df['21시'].str.replace(',','')
df['22시'] = df['22시'].str.replace(',','')
df['23시'] = df['23시'].str.replace(',','')

In [5]:
df['0시'] = df['0시'].astype(float)
df['1시'] = df['1시'].astype(float)
df['2시'] = df['2시'].astype(float)
df['3시'] = df['3시'].astype(float)
df['4시'] = df['4시'].astype(float)
df['5시'] = df['5시'].astype(float)
df['6시'] = df['6시'].astype(float)
df['7시'] = df['7시'].astype(float)
df['8시'] = df['8시'].astype(float)
df['9시'] = df['9시'].astype(float)
df['10시'] = df['10시'].astype(float)
df['11시'] = df['11시'].astype(float)
df['12시'] = df['12시'].astype(float)
df['13시'] = df['13시'].astype(float)
df['14시'] = df['14시'].astype(float)
df['15시'] = df['15시'].astype(float)
df['16시'] = df['16시'].astype(float)
df['17시'] = df['17시'].astype(float)
df['18시'] = df['18시'].astype(float)
df['19시'] = df['19시'].astype(float)
df['20시'] = df['20시'].astype(float)
df['21시'] = df['21시'].astype(float)
df['22시'] = df['22시'].astype(float)
df['23시'] = df['23시'].astype(float)

In [6]:
time1 = ['0시','1시','2시']
time2 = ['3시','4시','5시']
time3 = ['6시','7시','8시']
time4 = ['9시','10시','11시']
time5 = ['12시','13시','14시']
time6 = ['15시','16시','17시']
time7 = ['18시','19시','20시']
time8 = ['21시','22시','23시']
time_total = ['0시','1시','2시', '3시','4시','5시', 
              '6시','7시','8시', '9시','10시','11시', 
             '12시','13시','14시', '15시','16시','17시',
             '18시','19시','20시', '21시','22시','23시']

In [7]:
df['time_1'] = df[time1].sum(axis = 1)
df['time_2'] = df[time2].sum(axis = 1)
df['time_3'] = df[time3].sum(axis = 1)
df['time_4'] = df[time4].sum(axis = 1)
df['time_5'] = df[time5].sum(axis = 1)
df['time_6'] = df[time6].sum(axis = 1)
df['time_7'] = df[time7].sum(axis = 1)
df['time_8'] = df[time8].sum(axis = 1)

In [8]:
df['total_day'] = df[time_total].sum(axis = 1)

In [ ]:
#df.to_csv('./CSV/2016_1월_수정본.csv')